
<html>
    <head>
    <title>Registration Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
    <body>
        <h2>Registration Form</h2>
        <div>
        <p>Username: @ViewBag.username</p>
        <p>Email: @ViewBag.email</p>
        <p>Gender: @ViewBag.gender</p>
        <p>Age: @ViewBag.age</p>

        </div>
</body>
    

</html>